<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer documento en HTML</title>
</head>
<body>
    <header>
        <div> <img src='/image/logo-mercado-liebre.svg'></div>
        <h3>Buscador</h3>
        <h3>Comprá en cuotas y sin tarjeta de crédito</h3>
        <ul>
            <li><a href='#'>Ofertas</a></li>
            <li><a href='#'>Tiendas Oficiales</a></li>
            <li><a href='#'>Vender</a></li>
            <li><a href='#'>Ayuda</a></li>
        </ul>
        <ul>
            <li><a href='#'>Creá tu cuenta</a></li>
            <li><a href='#'>Ingresá</a></li>
            <li><a href='#'>Mis Compras</a></li>
        </ul>
        <div> <img src='/image/img-home-banner.jpg'></div>
    </header>
    <section>
        <h2>Basado en tu ultima visita</h2>
        <article>
            <div> <img src='/image/img-cafetera-moulinex.jpg'></div>
            <h5>$6.770</h5>
            <h5>40% OFF</h5>   
            <h4>Cafetera Moulinex</h4>   
        </article>
        <article>
            <div> <img src='/image/img-macbook-pro-2019.jpg'></div>
            <h5>$230.000</h5>
            <h5>20% OFF</h5>   
            <h4>MacBook Pro 2019</h4> 
        </article>
        <article>
            <div> <img src='/image/img-samsung-galaxy-s10.jpg'></div>
            <h5>$70.500</h5>
            <h5>10% OFF</h5>   
            <h4>Samsung Galaxy S10</h4> 
        </article>
        <article>
            <div> <img src='/image/img-tv-samsung-smart.jpg'></div>
            <h5>$23.200</h5>
            <h5>5% OFF</h5>   
            <h4>SmartTv Samsung 43"</h4> 
        </article>
        <section>
            <h2>Ofertas</h2>
            <article>
                <div> <img src='/image/img-cafetera-moulinex.jpg'></div>
                <h5>$6.770</h5>
                <h5>40% OFF</h5>   
                <h4>Cafetera Moulinex</h4>   
            </article>
            <article>
                <div> <img src='/image/img-macbook-pro-2019.jpg'></div>
                <h5>$230.000</h5>
                <h5>20% OFF</h5>   
                <h4>MacBook Pro 2019</h4> 
            </article>
            <article>
                <div> <img src='/image/img-samsung-galaxy-s10.jpg'></div>
                <h5>$70.500</h5>
                <h5>10% OFF</h5>   
                <h4>Samsung Galaxy S10</h4> 
            </article>
            <article>
                <div> <img src='/image/img-tv-samsung-smart.jpg'></div>
                <h5>$23.200</h5>
                <h5>5% OFF</h5>   
                <h4>SmartTv Samsung 43"</h4> 
            </article>
        <footer>
            <ul>
            <li><h5>Paga con tarjeta o en efectivo</h5></li>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            <li><h5>Envío gratis desde $ 2.500</h5></li>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            <li><h5>Seguridad, de principio a fin</h5></li>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </ul>
            <div><h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4></div>

        </footer>

    </section>
    
</body>
</html>